
<div class="row d-print-none">
	<div class="col-12">
		<a href="@BackUrl"
			 class="btn btn-info" title="Back to @BackUrl">
			<i class="bi bi-arrow-left-circle"></i> Back to @BackTitle
		</a>
	</div>
</div>

@code {
	[Parameter] 
	public string BackUrl { get; set; } = "/";
	[Parameter] 
	public string BackTitle { get; set; } = "Home";
	//<i class="far fa-arrow-alt-circle-left"></i>
}
