@page "/CascadingValue/SingleParameter"
<h3>CascadingValue | SingleParameter</h3>

<CascadingValue Value="@TheAnswer">
    <FooComponent></FooComponent>
</CascadingValue>

@code {
	    int TheAnswer = 42;
}
