
<div class="row ">
	<div class="col-12">

		@if (IsDesignCollapsed)
		{
			<Button @onclick="ClickDesignCollapsed"
						class="btn-primary btn-sm float-end my-2">
				<b>Design Notes</b> Learn More <i class="bi bi-chevron-down"></i>
			</Button>
		}
		else
		{
			<div class=" bg-light p-2">
				<h3 class="mt-2">Manage YouTube Videos</h3>
				<p>
					What are the steps to manage the YouTube videos used by LMM.
					Need to identify the players and their roles.
					Need to identify the db operations, YT service operations.
					The <code>WeeklyVideo</code> table ultimately drives the <b>Upcoming Events</b> page.
					@*MD / Mermaid Sequence Digram [see](https://mermaid-js.github.io/mermaid/#/./sequenceDiagram)*@
				</p>

				<h5>Weekly Process</h5>
				<ol>
					<li>Ralphie uploads the graphic files</li>
					<li>
						<ul>
							<li><code>WeeklyVideo!GraphicFile</code> is updated during a file upload to Azure Blob process.</li>
							<li>A message is sent to Ward of the uploads</li>
							<li>
								This is only a weekly process if <code>WeeklyVideoTypeId</code> is <i>Main Service English</i> or <i>Main Service Spanish</i>.
								If the graphic file used by the other to types, they the are changed when needed.
							</li>.
						</ul>
					</li>
					<li>Ward creates a <i>future</i> video on YouTube.</li>
					<li>
						<ul>
							<li>This is a <i>background</i> manual process done outside the scope of this app.</li>
							<li>The graphic used during this process is the one Ralphie created in the previous step.</li>
						</ul>
					</li>

					<li>Ward adds to the <code>WeeklyVideo</code> table by assigning these values...</li>
					<li>
						<ul>
							<li><code>YouTubeId</code> gotten by the YouTube Feed <code>https://www.youtube.com/feeds/videos.xml?channel_id=</code> </li>
							<li><code>WeeklyVideoTypeId</code> gotten by <code>SmartEnum WeeklyVideoType</code> </li>
							<li><code>ShabbatWeekId</code> gotten by  <code>WeeklyVideoTable</code> </li>
						</ul>
					</li>
					<li>The presenters update their content (optional)</li>
					<li>
						<ul>
							<li><code>WeeklyVideo!NotesFile</code> is updated during a file upload to Azure Blob process</li>
							<li><code>WeeklyVideo!Book</code> and <code>WeeklyVideo!Chapter</code> are updated if <code>WeeklyVideoTypeId</code> is <i>In Depth Study</i> or <i>Torah Tuesday</i> </li>
						</ul>
					</li>
				</ol>
			</div>

			<Button @onclick="ClickDesignCollapsed"
						class="btn-primary btn-sm  mb-4 float-end">
				<b>Design Notes</b> Shrink <i class="bi bi-chevron-up"></i>
			</Button>
		}

	</div>
</div>

@code {

	[Parameter]
	public bool IsDesignCollapsed { get; set; } = true;
	
	protected void ClickDesignCollapsed()
	{
		IsDesignCollapsed = !IsDesignCollapsed;
	}

}