@if (ShabbatWeekList != null)
{
	@*
		form-select form-select-lg mb-3
		@bind="WeekCount"
	*@

	<div class="card border-info my-3">
		<h3 class=" py-1 text-center">Select Shabbat Week</h3>

		<div class="row p-2">

			<div class="col-sm-8">
				<select class="form-select form-select-lg px-2" @onchange="OnShabbatWeekIdChanged" title="Shabbat Week Id is required ">
					<option value="0">--Select Shabbat Week--</option>
					@foreach (var shabbatWeek in ShabbatWeekList!)
					{
						<option value="@shabbatWeek.Id">@shabbatWeek.ShabbatDate.ToShortDateString() [@shabbatWeek.Id]</option>
					}
				</select>

			</div>

			<div class="col-sm-4">
				<div class="form-floating">
					<input type="number" class="form-control" id="weekCount"
							 @onchange="OnWeekCountChanged" value="@WeekCount"
							 min="1" max="10"
							 placeholder="Count of rows to return">
					<label for="weekCount">Week Count</label>
				</div>
			</div>

		</div>
	</div>

}
else
{
	<p><em>Loading...</em></p>
}



